
.logo-register{
    text-align: center;
    padding-bottom: 20px;
}
.logo-register span{
    display: block;
    font-size: 33px;
    font-family: Lato;
    color: #f39c12;
    margin-top: -20px;
}
.input-group{
    width: 100%;
    border: 1px solid #ccc;
}
.register-submit{
    float: left;
    width: 100%;
    text-align: center;
}
.form-register label.error{
    font-size: 16px;
    font-family: Lato;
    color: #c7c7c7;
    font-weight: normal;
}
.register-submit input{
    font-size: 18px;
    font-family: Lato;
    color: #fff;
    padding: 13px;
    padding-left: 60px;
    border-radius: 5px;
    padding-right: 60px;
    background-color: #57b125;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(61, 126, 25, 0.75);
    -moz-box-shadow:    0px 4px 0px 0px rgba(61, 126, 25, 0.75);
    box-shadow:         0px 4px 0px 0px rgba(61, 126, 25, 0.75);
    border: 5px;
}

.tbody-order>tr:nth-child(odd)>td{
    background-color: #e5e5e5 !important;
}
.table-header{
    margin-top: 0px;
}
.table-header a{
    font-size: 14px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.table-header a:hover{
    color: #fff;
    text-decoration: none;
}
.dataTables_filter{
    padding-top: 15px;
}
.dataTables_filter label, .dataTable>thead>tr>th{
    font-size: 14px;
    font-family: Lato;
}
.table-striped thead{
    background-color: #3f3f3f !important;
    color: #fff;
}
.dataTable>thead>tr>th.sorting_desc, .dataTable>thead>tr>th.sorting_asc,.dataTable>thead>tr>th[class*=sort]{
    background-image: none !important;
    color: #fff;
    border: none ;
    text-align: center;
}
.dataTable>thead>tr>th:hover, .dataTable>thead>tr>th:hover, .dataTable>thead>tr>th[class*=sort]:hover{
    color: #fff !important;
}
.dataTable>tbody>tr>td{
    text-align: center;
    font-size: 13px;
    color: #000;
}
.dataTable>tbody>tr>td a{
    padding-right: 5px;
}
.dataTables_info{
    display: none;
}
.dataTables_wrapper input[type=text]{
    border-radius: 5px;
    border: 1px solid;
}
.users_manage h3{
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    color: #57b125;
    margin-bottom: 25px;
}
.dataTable>thead>tr>th[class*=sort]:after{
    color: #fff;
}
.fa{
    color: #c7c7c7;
}
.pagination>li>a>i{
    color: #000;
}
.table-update{
    width: 33%;
}
.input-update .input-group{
    text-align: center;
    border-radius: 5px;
}
.input-update label, .input-radio-update label{
    font-size : 16px;
    color : #5b5b5b;
}
.input-update .input-group input{
    border: none;
    width: 80%;
    height: 40px;
}
.input-update .input-group i{
    width: 12%;
    float: left;
    font-size: 2em;
    margin-top: 8px;
    border-right: 1px solid #ccc;
}
.input-radio-update label{
    width : 63%;
    display: inline-block;
}
.input-radio-update .input-group{
    width : 20%;
    display: inline-block;
    border : none;
}
.input-radio-update .input-group input{
    height: 32px;
    width: 32px;
}
.table-update .logo-register span{
    color: #57b125;
}
.btn-back-update{
    margin-top: 20px;
    float: left;
    width: 100%;
    text-align: center;
}
.btn-back-update a{
    padding: 14px;
    padding-left: 60px;
    padding-right: 60px;
    background: url('../img/restaurant_login2.png') no-repeat;
}
.input-update label.error{
    font-size: 13px;
    color :  #FA2929;
}
.input-group select{
    border: none;
    width: 80%;
    min-height: 40px !important;
    color: #555;
    font-family: Lato;
    font-size: 14px;
}
.dataTable .action-buttons a i{
    color: #000;
}
.tabs {height: 33px;border-left: 1px solid #bcd4da;}
.tabs li {float: left;line-height: 31px;border-top: 1px solid #c5c5c5;list-style: none;}
.tabs li a {color: #000;display: block;padding: 0 28px;background-color: #fff;}
.tabs li:last-child a {padding: 0px 17px 0px 16px;}
.tabs li a:hover {background-color: #fff; color: #000;}
.tabs li a.active {background-color: #4c8fbd;color: #000;}
.tab_container {border: 1px solid #bcd4da;border-top: none;margin:  0px 0px 20px 0px; width: 311px; min-height: 300px;}
.tab_content {padding: 15px 0px 15px 0px;}
.tab_content ul li {padding: 7px 0px;}
.tab_content ul li:nth-child(odd) {background: #e8e8e8;}
.tab_content ul li a {color: #666;}
.tab_content ul li a:hover {color: #ce9702;}
.tabs-border{
    border: 1px solid #4c8fbd;
}